version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: gamified_education
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      DATABASE_HOST: db