{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{% static 'registration/login.css' %}" />
        {% include 'material/includes/material_css.html' %}
        
        {% block extra_scripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>