{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'course/login.css' %}" />
    {% include 'material/includes/material_css.html' %}

    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    {% include 'material/includes/material_js.html' %}
</head>
<body>
    {% block content %}

    {% if form.errors %}
         <div class="red card-panel">
            <span class="white-text text-darken-2">
                {% trans "Username and password didn't match." %}
            </span>
        </div>
    {% elif next %}
        <div class="card-panel">
            <span class="red-text text-darken-2">
                {% if user.is_authenticated %}
                    {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
                {% else %}
                    {% trans "Please login to see this page." %}
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class='row'>
        <div class="card-panel">
            {% load material_form %}
            <form method="post" action="{% url 'course:login' %}"> 
                {% csrf_token %}
                <div>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </div>
                <div>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </div>

                <div id='button-container'>
                    <input type="submit" class="btn waves-effect waves-light" value="login" />
                    <input type="hidden" name="next" value="/classes" />
                    <!-- <a id='lost-password' href="{% url 'course:password_reset' %}">{% trans 'Forgot password?' %}</a> -->
                </div>
            </div>
        </div>
        
    </form>
    
    {% endblock %}
    </body>
</html>