{% extends 'registration/base.html' %}

{% load i18n %}

{% block content %}
    <div class="card">
        <div class="card-content">
            {% if validlink %}
                <span id='form-title' class="card-title">
                    {% trans "New Password" %}
                </span>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <div id='button-container'>
                        <button class='btn waves-effect waves-light' type="submit">
                            {% trans "Set Password" %}
                        </button>
                    </div>
                </form>
            {% else %}
                <p>
                    {% trans "The password reset link was invalid, possibly because it has already been used." %}
                </p>
                <p>    
                    {% trans "Please request a new password reset." %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}