{% extends 'registration/base.html' %}

{% load i18n %}
{% load static %}

{% block extra_scripts %}
	<script async src="{% static 'registration/password_reset.js'%}"></script>
{% endblock %}

{% block content %}
	<div id='password-reset-card' class="card">
		<div class="card-content">
            <span id='form-title' class="card-title">
				{% trans "Reset Password" %}
			</span>

			<form id='password_reset_form' method="post">
				{% csrf_token %}

				<fieldset id='password_reset_fieldset'>
					{{ form.as_p }}

				    <div id='button-container'>
				    	<button class='btn waves-effect waves-light' type="submit">
				    		{% trans "Submit" %}
				    	</button>
				    </div>
				</fieldset>
			</form>

			<div id='submitting-warning' style='display: none'>
				{% trans "Submitting..." %}
			</div>
		</div>
	</div>
{% endblock %}