{% extends 'registration/base.html' %}

{% load i18n %}

{% block content %}
    <div class="card">
        <div class="card-content">
            {% if form.errors %}
                <div class="red card-panel">
                    <ul class="validation-error-list white-text text-darken-2">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>    
            {% endif %}
            
            {% if validlink %}
                <span id='form-title' class="card-title">
                    {% trans "New Password" %}
                </span>

                <form method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                    </div>
                    
                    <div id='button-container'>
                        <button class='btn waves-effect waves-light' type="submit">
                            {% trans "Set Password" %}
                        </button>
                    </div>
                </form>
            {% else %}
                <p>
                    {% trans "The password reset link was invalid, possibly because it has already been used." %}
                </p>
                <p>    
                    {% trans "Please request a new password reset." %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}