{% extends "email/base.html" %}

{% load i18n %}

{% block content %}
    <p style='margin-bottom: 50px'>
		{% blocktrans with first_name=user.first_name %}Hello, {{ first_name }}!{% endblocktrans %}
	</p>

	<p style='margin: 15px 0px'>
		{% autoescape off %}
			{% blocktrans with url="<a style='color: #039be5; text-decoration: none;' href='"|add:domain|add:"'>"|add:domain|add:"</a>"%}You are invited to use {{url}}, a platform to keep track of your course activities. Click the button below to create your password.{% endblocktrans %}
		{% endautoescape %}
	</p>

	<a style='display: inline-block; padding: 0px 32px; background-color: #2083e4; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); text-decoration: none; color: #fff; text-align: center; letter-spacing: .5px; transition: .2s ease-out; cursor: pointer; border: none; border-radius: 2px; height: 36px; line-height: 36px;  text-transform: uppercase; margin: 10px 0 10px;' href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
		{% trans "Create Password" %}
	</a>
{% endblock content %}
