{% if classes|length > 0 %}
    <div class='course-list card collection with-header'>
        <div class="collection-header">
            <h5>{{ title }}</h5>
        </div>
        {% for class in classes %}
            <a href='/{{class.course.code}}/{{class.code}}/' class='collection-item course-item'>
                <img class='course-icon' src='{{class.course.icon_url}}'>
                
                <div class='course-list-info'>
                    <div class="title">{{ class.course }}</div>
                    <div class='grey-text'>{{ class.code }}</div>
                </div>
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        {% endfor %}
    </div>
{% endif %}