{% extends "course/base.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Assignments' %}
{% endblock %}

{% block content %}
    {% if students_data != None %}
        <div id='student-dropdown-container'>
            <a class='dropdown-button btn grey lighten-3 grey-text text-darken-3' href='#students-dropdown' data-activates='students-dropdown'>
                {% trans 'Select Student' %}
            </a>
            <ul id='students-dropdown' class='dropdown-content'>
                {% for student_data in students_data %}
                    <li>
                        <a href="/{{course_class.course.code}}/{{course_class.code}}/assignments/{{student_data.id}}">
                            {{student_data.full_name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        
    {% if assignment_items_data != None %}
        <header id='student-header' class='flow-text'>
            <i id='student-icon' class="material-icons circle orange">person</i>
            <div id='student-info'>
                <h1 id='student-name'>
                    {{enrollment.student.full_name}}
                </h1>
                <h2 id='student-total-score'>
                    {{enrollment.total_score}} XP
                </h2>
            </div>
        </header>
    
        <ul id='assignment-list'>
            {% for assignment_item in assignment_items_data %}
                <li class="assignment-list-item card">
                    <div class="card-content grey lighten-4">
                        <span class="assignment-name card-title activator grey-text text-darken-4">
                            {{assignment_item.name}}
                            <!-- <i class="material-icons right">more_vert</i> -->
                        </span>
                        <p class='assignment-description'>{{assignment_item.description}}</p> 
                    </div>
                    <div class="card-action">
                        <div class='assignment-score'>
                            {% if assignment_item.total_grade_percentage > 0 %}
                                <div class='assignment-min-max'>
                                    <small>0 XP</small>
                                    <small>{{assignment_item.total_task_points}} XP</small>
                                </div> 

                                <div class="progress">
                                    <div class="determinate" style="width: {{assignment_item.total_grade_percentage|safe}}%"></div>
                                </div>

                                <h5 class='assignment-score-points xp-label'>
                                    {{assignment_item.total_grade_points}} XP
                                    <a class='change-to-percentage' href='#assignment-list'>
                                        <i class="material-icons">swap_horiz</i>
                                    </a>
                                </h5>
                                <h5 class='assignment-score-points percentage-label'>
                                    {{assignment_item.total_grade_percentage}} %
                                    <a class='change-to-xp' href='#!'>
                                        <i class="material-icons">swap_horiz</i>
                                    </a>
                                </h5>
                            {% else %}
                                <small class='assignment-no-points'>{% trans '(no points)' %}</small>
                            {% endif %}
                        </div>
                        
                        <ul class='task-list'>
                            {% for task in assignment_item.tasks %}
                                {% if task.grade_percentage != None or not task.is_optional %}
                                    <li class='task-list-item {% if task.grade_is_canceled %}red-text{% endif %}'>
                                        {% if task.grade_is_canceled %}
                                            <i class="material-icons canceled-grade">remove_circle</i>
                                        {% elif task.grade_percentage == None %}
                                            <i class="material-icons no-grade-icon">lens</i>
                                        {% else %}
                                            <i class="material-icons {% if task.grade_percentage != None %}orange-text{% endif %}">
                                                {% if task.grade_percentage == 100 %}
                                                    star
                                                {% elif task.grade_percentage == 0 %}
                                                    star_border
                                                {% else %}
                                                    star_half
                                                {% endif %}
                                            </i>
                                        {% endif %}

                                        <span class='task-name truncate'>
                                            {{task.name}}
                                        </span>
                                        
                                        {% if task.grade_is_canceled %}
                                            <span class='task-points badge red-text'>{% trans 'CANCELED' %}</span>
                                        {% elif task.grade_percentage != None %}
                                            <span class='task-points badge xp-label'>+{{task.grade_points}} XP</span>
                                            <span class='task-points badge percentage-label'>{{task.grade_percentage}} %</span>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}