{% extends "course/base.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Class' %}
{% endblock %}

{% block content %}
    <div class='flex-center-container'>
        <ol id='class-ranking' class="card collection with-header">
            <div class="collection-header">
                <h4>
                    {% blocktrans with number_of_items=ranking|length %}Top {{ number_of_items }}{% endblocktrans %}
                </h4>
            </div>
            
            {% if ranking|length == 0 %}
                <div class="empty-list-message collection-item">
                    {% trans '(no student has scored so far)' %}
                </div>
            {% else %}
                {% for ranking_item in ranking %}
                    <li class="ranking-item collection-item avatar {% if ranking_item.student_id == student_id %}orange lighten-5{% endif %}">
                        <span class="circle ranking-position {% if ranking_item.dense_rank == 1 %}amber lighten-3{% elif ranking_item.dense_rank == 2 %}grey lighten-2{% elif ranking_item.dense_rank == 3 %}brown lighten-3{%else %}{% endif %}">{{ ranking_item.dense_rank }}</span> 
                        <span class="title truncate">{{ ranking_item.full_name }}</span>
                        <p class='grey-text'>{{ ranking_item.total }} XP</p>
                    </li>
                {% endfor %}
            {% endif %}
        </ol>
    </div>
{% endblock content %}