{% extends "course/base.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Class' %}
{% endblock %}

{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'course/pygments-vs.css' %}">
{% endblock %}


{% block content %}
    <div class='flex-center-container'>
        <div id='widgets-container' class='flex-center-container' style=''>
            {% if ranking_size > 0 %}
                <ol id='class-ranking' class="widget card collection with-header">
                    <div class="collection-header">
                        <h5>
                            {% blocktrans %}Top {{ ranking_size }}{% endblocktrans %}
                        </h5>
                    </div>
                    
                    {% if ranking|length == 0 %}
                        <div class="empty-list-message collection-item">
                            {% trans '(no student has scored so far)' %}
                        </div>
                    {% else %}
                        {% for ranking_item in ranking %}
                            <li class="ranking-item collection-item avatar {% if ranking_item.student_id == student_id %}transparent-secondary-color{% endif %}">
                                <span class="circle ranking-position {% if ranking_item.dense_rank == 1 %}amber lighten-3{% elif ranking_item.dense_rank == 2 %}grey lighten-2{% elif ranking_item.dense_rank == 3 %}brown lighten-3{%else %}{% endif %}">{{ ranking_item.dense_rank }}</span> 
                                <span class="title truncate">{{ ranking_item.full_name }}</span>
                                <p class='grey-text'>{{ ranking_item.total }} XP</p>
                            </li>
                        {% endfor %}
                        
                        <li id='show-more-ranking' class="collection-item">
                            <a href="#class-ranking">{% trans 'Show more...' %}</a>
                        </li>
                    {% endif %}
                </ol>
            {% endif %}
            {% for widget in widgets %}
                <div class="widget card collection with-header">
                    <div class="collection-header">
                        <h5>
                            {{ widget.title }}
                        </h5>
                    </div>

                    <div class='card-action markdown'>
                        {{ widget.html_code|safe }}
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        
        {% if posts|length > 0 %}
            <section id='posts' class='markdown'>
                {% for post in posts %}
                    <article>
                        <header>
                            <h5>{{ post.title }}</h5>
                            <time datetime="{{ post.post_datetime|date:'c'}}" pubdate="pubdate">
                                {{ post.post_datetime }}
                            </time>
                            {% if post.is_draft %}
                                <span class="badge secondary-color">{% trans 'Draft' %}</span>
                            {% endif %}
                            
                            {% if post.is_scheduled %}
                                <span class="badge secondary-color">{% trans 'Scheduled' %}</span>
                            {% endif %}
                            
                            {% if post.is_pinned_to_the_top %}
                                <span class="badge secondary-color">{% trans 'Pinned' %}</span>
                            {% endif %}   
                        </header>
                        
                        {{ post.html_code|safe }}
                    </article>
                {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock content %}