td.original p {
  visibility: hidden
}

.inline-group .tabular tr.has_original td {
    padding-top: 12px;
}

/* hide id input and search icon when using raw_id_fields */
td.field-enrollment .vForeignKeyRawIdAdminField,
td.field-enrollment .related-lookup,
td.field-assignment_task .vForeignKeyRawIdAdminField,
td.field-assignment_task .related-lookup {
    display: none;
}

/* hide add button from grade tabular inline */
#grade_set-group .add-row {
    display: none;
}

td.field-is_canceled {
    width: 80px;
}

td.field-percentage {
    width: 80px;
}

td.field-percentage input {
    width: 80px;
}

.form-row label:first-letter {
    text-transform: uppercase;
}