/****************************
* Base HTML
*****************************/

body {
    min-width: 300px;
}

#course-logo {
    margin-left: 14px;
    float: none;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    height: 50px;
}

@media(max-width: 350px) {
    #course-logo {
        display: none;
    }
}

#page-content {
    padding-top: 30px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
}

/****************************
* Course list  page
*****************************/

#course-list {
    width: auto;
    min-width: 300px;
    max-width: 500px;
}

.course-list-info {
    width: calc(100% - 25px);
}

.course-list-info > * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#no-enrollment-card {
    text-align: center;
}

#return-to-login-button {
    margin-top: 20px;
}

/****************************
* Class page
*****************************/

.flex-center-container {
    display: flex;
    justify-content: center; 
    flex-flow: row wrap;
}

#class-ranking {
    display: inline-block;
    align-self: flex-start;
    list-style: none;
    -webkit-padding-start: 0px;
    min-width: 300px;
    max-width: 450px;
    margin: 0px 20px 30px;
}

#class-ranking .empty-list-message {
    text-align: center;
    padding-left: 20px;
}

#class-ranking .ranking-item {
    min-height: auto
}

#class-ranking .ranking-position {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.markdown ul {
    padding-left: 40px !important;
}

.markdown li {
    list-style-type: disc !important;
}

#posts {
    flex: 1 0;
    min-width: 300px;
    max-width: 700px;
    margin: 0px 30px 30px;
}

@media screen and (min-width: 700px) {
    #posts {
        margin-left: 40px;
    }
}

#posts article {
    margin-top: 0px;
    margin-bottom: 100px;
}

#posts time {
    color: #888;
}

#posts h4 {
    margin-bottom: 8px;
}

#posts header {
    margin-bottom: 25px;
}


/****************************
* Student page
*****************************/

#student-dropdown-container {
    text-align: center;
    margin-bottom: 40px;
}

/* show students list on click even if javascript is disabled*/
#students-dropdown:target {
    display: block;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
}

#student-header {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#student-icon {
    width: 1.8em;
    height: 1.8em;
    font-size: 1.7em;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

#student-info {
    margin-left: 20px;
}

#student-name {
    margin: 0px;
    font-size: 1.5em;
}

#student-total-score {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: 300;
}

#assignment-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card.assignment-list-item {
    width: 300px;
    flex: 1 0 1;
    margin: 20px;
}

.assignment-name,
.assignment-description {
    word-break: break-word;
}

.assignment-score {
    height: 70px;
}

.percentage-label {
    display: none;
}

#assignment-list:target .percentage-label,
.show-percentage .percentage-label {
    display: block;
}

#assignment-list:target .xp-label,
.show-percentage .xp-label {
    display: none;
}

.change-to-percentage,
.change-to-xp {
    position: absolute;
    margin-left: 7px;
    margin-right: 0px !important; 
    transition: background-color 0.3s !important;
}

.change-to-percentage:hover,
.change-to-xp:hover {
    background-color: #d9e6f2;
    border-radius: 3px;
}

.change-to-percentage i,
.change-to-xp i{
    color: #1976d2 !important;
}

.assignment-no-points {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignment-min-max {
    display: flex;
    justify-content: space-between;
}

.assignment-score-points {
    text-align: center;
    font-weight: 300;
}

.task-list {
    margin-top: 10px;
    margin-left: -3px;
}

.task-list-item {
    display: flex;
    align-items: center;
}

.material-icons.no-grade-icon {
    text-align: center;
    font-size: 8px;
    color: #aaa;
    width: 24px;
}

.material-icons.canceled-grade {
    font-size: 18px;
    padding-left: 3px;
    padding-right: 2px;
}

.task-name {
    padding-top: 3px;
    padding-left: 5px;
    flex: 1;
}

.badge.task-points {
    text-align: right;
    margin-left: auto;
    white-space: nowrap;
    padding-top: 1px;
}